.main-content {
/*	padding-top: 60px;*/
}

.main-content__article {
	padding-top: 20px;
}

.main-content__article:not(.main-content__article:last-child) {
	padding-bottom: 35px;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}