.search-users-item {
	display: flex;
	align-items: center;
}

.search-users-item.other-pages {
	align-items: flex-start;
}

.search-users-item__img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.search-users-item__user {
	margin: 0 auto 0 30px;
	width: 70%;
}

.search-users-item__user--name {
	font-size: 18px;
	font-weight: 600;
}

.search-users-item__user--overview {
	color: var(--black);
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden !important;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

.search-users-item__user--name.other-pages {
	font-size: 16px;
}

.search-users-item__user--overview.other-pages {
	font-size: 13px;
}

.search-users-item__follow-btn.other-pages button {
	font-size: 13px;
	padding: 6px 12px;
}