.settings-profile-pop-up__img-input-container {
	margin-top: 30px;
	font-size: 14px;
}

.settings-profile-pop-up__img-input-row {
	display: flex;
	align-items: center;
	margin: 7px 0 30px;
}

.settings-profile-pop-up__img-input-row--img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 25px;
}

.settings-profile-pop-up__img-input-row--right__btns {
	display: flex;
	align-items: center;
}

.settings-profile-pop-up__img-input label {
	color: var(--green);
	cursor: pointer;
}

.settings-profile-pop-up__remove-btn {
	margin-left: 10px;
	color: var(--red);
	cursor: pointer;
}

.settings-profile-pop-up__img-input--helper-text {
	font-size: 13px;
	margin-top: 10px;
}