.blog-post-content {
	margin: 40px 0;
}

.blog-post-content__article {
	margin-bottom: 50px;
}

.blog-post-content__article img,
.blog-post-content__article p {
	width: 100%;
	margin-bottom: 10px;
}

.blog-post-content__article p {
	color: var(--dark-black);
}

.blog-post-content__engagement-summary {
	margin: 40px 0;
}