.search-nav {
	margin: 20px 0 10px;
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.search-nav__item {
	padding: 12px 0;
	margin-right: 40px;
	font-size: 15px;
}

.search-nav__item.active {
	border-bottom: 1px solid var(--dark-black);
	color: var(--dark-black);
}

.search-nav__item span a {
	color: var(--black);
}

.search-nav__item span a:hover {
	color: var(--dark-black);
}