:root {
  --black: #6B6B6B;
  --dark-black: #242424;
  --green: #1A8917;
  --dark-green: rgb(21, 109, 18);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  color: rgb(0, 0, 0, .8);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--dark-black);
}