.search-show-more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 10;
	background-image: linear-gradient(to top, white 40%, rgba(255, 255, 255, .2));
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.search-show-more__text {
	color: var(--green);
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.search-show-more__text .icon {
	fill: var(--green);
}