.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	font-size: 14px;
	color: var(--black);
}

.nav__left .logo {
	width: 45px;
}

.nav__right,
.nav__left,
.nav__right--write {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__left input {
	padding: 10px 20px 10px 45px;
	width: 230px;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, .03);
	font-size: 14px;
	color: var(--dark-black);
}

.nav__left--input {
	position: relative;
	margin-left: 20px;
}

.nav__left--input__search-icon {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

.nav__right--user-image {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.nav__right > * {
	cursor: pointer;
}

.nav__right > *:hover {
	color: var(--dark-black);
}

.nav__right--user-image > img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.nav__right--notification-icon {
	margin: 0 40px;
}

.nav__right--write span {
	margin-left: 8px;
	font-size: 13px;
}

.nav-line {
	border-top: 0.5px solid rgba(0, 0, 0, .03);
}