.adjust-width {
	width: 680px;
	margin: 0 auto;
}

.blog-post-header__title {
	font-size: 38px;
}

.blog-post-header__author {
	margin: 25px 0;
	display: flex;
	align-items: center;
}

.blog-post-header__author--img-container {
	margin-right: 15px;
}

.blog-post-header__author--text__name--follow {
	display: flex;
	align-items: center;
}

.article__author--dot {
	width: 2px;
	height: 2px;
	background-color: var(--dark-black);
	margin: 0 5px;
}

.blog-post-header__author--text__follow {
	color: var(--green);
}

.blog-post-header__author--text__date {
	color: var(--black);
	font-size: 14px;
}

.blog-post-header__engagement-container {
	border-top: 1px solid rgb(0, 0, 0, .08);
	border-bottom: 1px solid rgb(0, 0, 0, .08);
	padding: 15px 4px;
}